*/.idea/*
*.pyc
*.xml
*.iml
pycircuit/src/pycircuit.egg-info/*
operations/operations.egg-info/dependency_links.txt
operations/operations.egg-info/SOURCES.txt
operations/operations.egg-info/PKG-INFO
operations/operations.egg-info/top_level.txt
operations/operations/Logs/mixer_calibrations.log
operations/operations/Logs/opx_experiments.log
operations/operations/Logs/utilities.log
operations/operations/pycircuit.log
operations/examples/pycircuit.log
operations/examples/Logs/utilities.log
operations/examples/Logs/opx_experiments.log
operations/examples/Logs/mixer_calibrations.log
operations/examples/Logs/experiments.log
operations/operations/tests/complex_pulses/pycircuit.log
operations/operations/tests/complex_pulses/Logs/utilities.log
operations/operations/tests/complex_pulses/Logs/opx_experiments.log
operations/operations/tests/complex_pulses/Logs/mixer_calibrations.log
operations/operations/tests/complex_pulses/Logs/experiments.log
*.log
pycircuit/pycircuit/tests/test_properties/*.json
pycircuit/pycircuit/tests/test_octave_properties/*.json
pycircuit/pycircuit/tests/test_properties/octaves.json
*.json
pycircuit/pycircuit/tests/test_properties/elements.json
pycircuit/pycircuit/tests/test_properties/controllers.json
pycircuit/pycircuit/tests/test_properties/integration_weights.json
pycircuit/pycircuit/tests/test_properties/mixers.json
pycircuit/pycircuit.egg-info/PKG-INFO
pycircuit/pycircuit.egg-info/SOURCES.txt
pycircuit/src/pycircuit.egg-info/SOURCES.txt
pycircuit/pycircuit.egg-info/top_level.txt
pycircuit/src/pycircuit.egg-info/SOURCES.txt
pycircuit/src/pycircuit.egg-info/SOURCES.txt
pycircuit/pycircuit.egg-info/dependency_links.txt
pycircuit/pycircuit.egg-info/requires.txt
operations/.idea/.name
operations/.idea/.name
